@import url('https://fonts.googleapis.com/css2?family=Labrada&display=swap');
.Home {
  background-color: #111343;
  /* background-color: #001c3d; */
}
.app-logo {
  border-radius: 50px;
  margin: 3px;
}
.home-heading-text{
  display: flex;
  width: 10%;
  padding: 5px 10px;
  cursor: pointer;
  color: #6e73cf;
}
.home-heading-text:hover{
  color: #b1d0ab;
}
.middleware{
  width: 100%;
  min-height: 165vh;
  margin-top: 100px;
}
.middleware h1{
  text-decoration: none;
  color: #2e7c67;
  font-family: 'Labrada', serif;
  font-size: 25px;
  width: 100%;
  text-align: center;
  font-size: 40px;
}
.content-1{
  display: flex;
  padding: 20px 150px;
  align-items: center;
  justify-content: center;
}
.content-1 h2{
  text-decoration: none;
  color: #6e73cf;
  max-width: 700px;
  padding: 70px;
  font-family: 'Labrada', serif;
  font-size: 25px;
}
.content-1 img{
  width: 550px;
  margin-left: 20px;
}

.content-2{
  display: flex;
  margin-top: 50px;
  padding: 20px 10px;
  align-items: center;
  justify-content: center;
}
.vertical-line {
  color: #6e73cf;
  border-left: 4px solid;
  height: 350px;
  margin-left: 50px;
  margin-right: 50px;
}

.content-2 img {
  height: 250px;
}
.content-2 ol{
  list-style-type: disc;
  width: 250px;
  font-size: 25px;
  font-family: 'Labrada', serif;
  color: #2e7c67;
}

.content-3{
  display: flex;
  margin-top: 75px;
  padding: 20px 10px;
  align-items: center;
  justify-content: center;
}

.content-3 img{
  width: 650px;
  border-radius: 150px;
}
.content-3 ul{
  width: 300px;
  font-size: 25px;
  font-family: 'Labrada', serif;
  color: #6e73cf;
  margin-right: 75px;

}
.content-3 i{
  color: #2e7c67 !important;
  padding-right: 15px;
}