@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 90%;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #6e73cf;
  padding: 25px 0;
}
.footer-col {
  width: 25%;
  padding: 0 100px;
}
.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: rgb(29, 12, 30);
}
a:hover{
  color: rgb(23, 214, 208);
}
.footer-col h4:after {
  content: " ";
  display: block;
  margin-top: 5px;
  border-bottom: 0.5px solid #000000;
}
.inputBox {
  position: relative;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  text-transform: uppercase;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: rgb(253, 246, 246);
}

.social-links {
  margin-top: 20px;
  font-size: 30px;
}
.social-links a {
  padding: 10px;
}